body{
    background-color: black;
}

header{
    background-color:rgb(122, 190, 44); 
    padding-left: 0px;
    height: 200px;
    width: 1200px;
}

.n1{
    padding-top: 10px;
    background-color: rgb(138, 67, 39);
    height: 100px;
    width: 1200px;
}

.n2{
    padding-left: 0px;
    background-color: salmon;
    height: 1000px;
    width: 100px;
    float: left;
}
