body{
    background-color: black;
}

header{
    background-color:red; 
    padding-left: 100px;
    height: 200px;
    width: 1500px;
}

nav{
    padding-top: 10px;
    background-color: rgb(43, 183, 226);
    height: 100px;
    width: 1000px;
}
